# Lighthouse CI Configuration
LHCI_PROJECT_ID=
LHCI_PROJECT_KEY=
LHCI_CI=true

# Browser for performance testing (optional)
BROWSER=chromium

# Thresholds
LH_PERFORMANCE_THRESHOLD=90
LH_ACCESSIBILITY_THRESHOLD=90
LH_BEST_PRACTICES_THRESHOLD=90
LH_SEO_THRESHOLD=90
LH_PWA_THRESHOLD=90
